.minicart-checkout {
    padding-bottom: 20px;
    .items {
        display: flex;
        flex-direction: column;

        .item {
            width: 100%;
            display: flex;
            border-bottom: 1px solid #eee;
            margin-bottom: 15px;
            padding: 10px 5px;
            position: relative;
            &:hover {
                background: #fff;
            }
        }

        .info {
        }

        figure {
            margin: 0 15px 0 0;
        }

        img {
            width: 50px;
            object-fit: cover;
        }

        .icon-remove {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
    }
}

.customer-form {
    .form-label {
        display: block;
    }
}

