//
//  Header
//  ____________________________________________
.page-header {
    position: sticky;
    top: 0;
    z-index: 100;

    .navbar-toggler {
        display: block;
        position: relative;

        .count {
            display: flex;
            align-items: center;
            justify-content: center;
            background: red;
            border-radius: 50%;
            color: #fff;
            font-size: 12px;
            width: 22px;
            height: 22px;
            position: absolute;
            top: -6px;
            right: -11px;
            font-weight: 700;
        }
    }

    //
    //  Menu
    //  ---------------------------------------------
    .navbar-nav {
        flex-direction: row;

        .nav-item {
            margin: 0 5px;
        }

        .nav-link {
            padding: 8px;
        }

        .link-minicart {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            position: relative;

            .material-symbols-outlined {
                font-size: 38px;
            }

            span.count {
                font-size: 12px;
                position: absolute;
                top: 14px;
            }

            &[data-filled='filled'] {
                background: #06b0d3;
                color: #fff;
            }
        }
    }
}

//
//  Slide panels : navbar & minicart
//  ____________________________________________
.slide-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5000;
    background: #fff;
    padding: 20px;
    width: 300px;
    transition: .3s;
    /*.slide-panel-open & {
        transform: translateX(0);
    }*/
}

//
//  Navigation panel
//  ____________________________________________
.nav-panel {
    left: 0;
    transform: translateX(-100%);

    .nav-panel-open & {
        transform: translateX(0);
    }

}
