//
//  Header
//  ____________________________________________
.page-header {
    .navbar-toggler {
        display: block;
    }

    //
    //  Menu
    //  ---------------------------------------------
    .navbar-nav {
        flex-direction: row;

        .nav-link {
            padding: 8px;
        }

        .link-minicart {
            display: flex;
            align-items: center;
            width: 40px;
            justify-content: center;
            border: 1px solid;
            cursor: pointer;
        }
    }
}

//
//  Slide panels : navbar & minicart
//  ____________________________________________
.slide-panel {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5000;
    background: #fff;
    padding: 20px;
    width: 300px;
    transition: .3s;
    /*.slide-panel-open & {
        transform: translateX(0);
    }*/
}

//
//  Navigation panel
//  ____________________________________________
.nav-panel {
    left: 0;
    transform: translateX(-100%);

    .nav-panel-open & {
        transform: translateX(0);
    }

}

//
//  Navigation panel
//  ____________________________________________
.minicart {
    right: 0;
    transform: translateX(100%);

    .minicart-open & {
        transform: translateX(0);
    }

    .item {
        display: flex;
        padding: 0 15px 15px 0;
        margin-bottom: 15px;
        border-bottom: 1px solid #eee;
        position: relative;

        figure {
            width: 100px;
            margin: 0 15px 0 0;
        }

        .price {
            display: block;
        }

        .icon-remove {
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            color: #777;

            &:hover {
                color: #000;
            }
        }
    }
}
