//
//  Catalog products
//  ____________________________________________
.product-list-wrap {

    //
    //  Sorting & Results
    //  ---------------------------------------------
    .row-sorting {
        display: flex;
        width: 100%;
        padding-bottom: 10px;
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    //
    //  View mode toggle
    //  ---------------------------------------------
    .products-mode {
        display: flex;
        justify-content: space-between;
        padding: 0 0 20px;
        align-items: center;

        .mode-toggle {
            display: flex;
            color: #000;

            > div:not([data-active="active"]) {
                color: #ccc;
                cursor: pointer;
            }
        }

        .material-symbols-outlined {
            font-size: 30px;
        }
    }

    //
    //  Category filter
    //  ---------------------------------------------
    .category-filter {
        padding-bottom: 20px;

        .btn {
            text-transform: capitalize;
        }
    }

    //
    //  Product cards
    //  ---------------------------------------------
    .product-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .card {
            margin-bottom: 30px;
        }

        .icon-wishlist {
            position: absolute;
            top: 2%;
            right: 2%;
            font-size: 30px;
            color: #fff;
            cursor: pointer;
            font-weight: 700;
            transition: .3s;

            &._added {
                color: red;
            }

            &:hover {
                transform: scale(1.3);
            }
        }

        &[data-view="grid"] {
            flex-direction: row;
            margin: 0 -3%;

            .card {
                width: 44%;
                margin: 0 3% 30px;
            }

            .actions {
                @media all and (max-width: 767px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    > .btn {
                        width: 100%;

                        &:first-child {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }

}
