@import "header";
@import "minicart";
@import "products";
@import "pdp";
@import "slick-skin";
@import "checkout";
@import "search";

// Image gallery
@import "~react-image-gallery/styles/scss/image-gallery.scss";

img {
    max-width: 100%;
}

//
//  Shared classes
//  ____________________________________________
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spinner-wrap {
    text-align: center;
    min-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-primary {
    cursor: pointer;
}

//
//  Home page
//  ____________________________________________
.page-home {
    overflow: hidden;
}

//
//  Main column
//  ____________________________________________
.main-section {
    padding: 20px 0;
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
}

//
//  Tabs
//  ____________________________________________
.tabs-widget {
    border: 1px solid #f3f3f3;
    border-radius: 5px;

    .nav-pills {
        padding: 12px;
    }

    .nav-link {
        cursor: pointer;
    }

    .tab-content {
        border-top: 1px solid #eee;
        background: aliceblue;
        padding: 20px;
    }
}

//
//  Table rows
//  ____________________________________________
.table-wrap {
    td {
        vertical-align: middle;
    }

    .alert {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form {
        display: flex;
        align-items: flex-start;

        > label {
            width: 100%;
            padding-right: 20px;
        }

        .btn {
            white-space: nowrap;
        }

        .invalid-feedback {
            display: block;
        }
    }
}

//
//  Modal
//  _____________________________________________
.modal.fade {
    display: block;
    z-index: -1;
    pointer-events: none; // need to make overlay clickable

    .modal-dialog {
        opacity: 0;
        transition: .3s;

    }

    .modal-footer {
        display: none;
    }
}

.modal-show {
    .modal.fade {
        z-index: 1055;

        .modal-dialog {
            opacity: 1;
        }
    }
}

//
//  Footer
//  _____________________________________________
footer {
    background: #3171bfee;
    color: #fff;
    padding: 20px;
}
