@import "header";

//
//  Navigation panel
//  ____________________________________________
.nav-panel {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5000;
    background: #fff;
    padding: 20px;
    width: 300px;
    transition: .3s;
    transform: translateX(-100%);

    &:not(._open) {

    }

    .nav-panel-open & {
        transform: translateX(0);
    }
}

//
//  Main column
//  ____________________________________________
.main-section {
    padding: 20px 0;
}

//
//  Tabs
//  ____________________________________________
.tabs-widget {
    border: 1px solid #f3f3f3;
    border-radius: 5px;

    .nav-pills {
        padding: 12px;
    }

    .nav-link {
        cursor: pointer;
    }

    .tab-content {
        border-top: 1px solid #eee;
        background: aliceblue;
        padding: 20px;
    }
}

//
//  Table rows
//  ____________________________________________
.table-wrap {
    td {
        vertical-align: middle;
    }

    .alert {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form {
        display: flex;
        align-items: flex-start;

        > label {
            width: 100%;
            padding-right: 20px;
        }

        .btn {
            white-space: nowrap;
        }

        .invalid-feedback {
            display: block;
        }
    }
}

//
//  Modal
//  _____________________________________________
.modal.fade {
    display: block;
    pointer-events: none; // need to make overlay clickable

    .modal-dialog {
        opacity: 0;
        transition: .7s;
    }

    .modal-footer {
        display: none;
    }
}

.modal-show {
    .modal.fade {
        .modal-dialog {
            opacity: 1;
        }
    }
}

//
//  Footer
//  _____________________________________________
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #3171bfee;
    color: #fff;
    padding: 20px;
}